@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website was made for people to easily be able to join fun events and keep track of them.</p>
</div>
